@mixin desktop {
  @media all and (min-width: 1440px) {
    @content;
  }
}

@mixin onlyMobile($displayType: block) {
  display: $displayType;
  @content;

  @include desktop() {
    display: none;
  }
}


@mixin onlyDesktop($displayType: block) {
  display: none;

  @include desktop {
    display: $displayType;
    @content;
  }
}

@mixin center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin rowCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}


@mixin PressStart {
  font-family: 'Press Start 2P', cursive;
  font-style: normal;
  font-weight: normal;
}

@mixin Pridi {
  font-family: 'Pridi', serif;
  font-style: normal;
  font-weight: normal;
}

@mixin button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

@mixin h2 {
  @include PressStart();
  font-size: 22px;
  line-height: 145%;
  text-align: center;

  @include desktop() {
    font-size: 42px;
    line-height: 150%;
  }
}

@mixin modal() {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: rgba(19, 11, 37, 0.8);
  @include center();
}

@mixin buttonText() {
  @include PressStart();
  font-size: 20px;
  line-height: 160%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #715021;
}

@mixin buttonTextSmall() {
  @include PressStart();
  font-size: 17px;
  line-height: 160%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #715021;
}

@mixin modalTitle() {
  @include PressStart();
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  letter-spacing: -0.03em;
  color: #130B25;

  @include desktop() {
    font-size: 28px;
  }
}

@mixin absoluteCenter() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin absoluteLayer() {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}