@import "../../../../../assets/scss/app.scss";

.voteModalCard {
  width: 288px;
  height: 436px;
  position: relative;

  .back {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 288px;
    height: 436px;
  }

  .content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 32px;

    .rating {
      label:not(:first-child) {
        margin-left: 12px;
      }
    }

    .icon {
      display: block;
      margin-top: 24px;
      width: 160px;
      height: 102px;
    }

    .gameName {
      margin-top: 32px;
      @include PressStart();
      font-size: 20px;
      line-height: 160%;
      text-align: center;
      letter-spacing: -0.03em;
      color: #000;
    }

    .voteButton {
      margin-top: 24px;

      p {
        @include buttonTextSmall();
      }
    }

    .votesCount {
      margin-top: 16px;
      font-weight: 300;
      font-size: 20px;
      line-height: 140%;
      color: #000000;
    }

  }
}