@import "../../../../assets/scss/app.scss";

.gameplayModal {
  @include modal();

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 320px;
    height: 617px;
    box-sizing: border-box;
    padding: 24px 0 0;

    @include desktop() {
      width: 820px;
      height: 788px;
      padding: 32px 0 0;
    }

    .backModal {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 320px;
      height: 617px;

      @include desktop() {
        width: 820px;
        height: 788px;
      }
    }

    .closeButton {
      position: absolute;
      z-index: 2;
      top: 30px;
      right: 16px;

      @include desktop() {
        top: 35px;
        right: 32px;
      }
    }

    .title {
      position: relative;
      z-index: 2;
      max-width: 160px;
      text-align: center;

      @include desktop() {
        max-width: 100%;
      }

      span {
        @include modalTitle();

        &:first-child {
          text-transform: uppercase;
        }
      }
    }

    .field {
      display: block;
      position: relative;
      z-index: 2;
      margin-top: 24px;
      width: 288px;
      height: 297px;

      @include desktop() {
        margin-top: 32px;
        width: 756px;
        height: 525px;
      }
    }

    .buttons {
      position: relative;
      z-index: 2;
      margin-top: 24px;
      display: flex;
      flex-direction: column;
      align-items: center;

      @include desktop() {
        margin-top: 32px;
        flex-direction: row;
      }

      .legitBtn, .cheatingBtn {
        p {
          @include PressStart();
          font-size: 20px;
          line-height: 160%;
          align-items: center;
          letter-spacing: -0.02em;
          text-transform: uppercase;
        }
      }

      .legitBtn p {
        color: #548C24;
      }

      .cheatingBtn {
        margin-top: 12px;

        @include desktop() {
          margin-top: 0;
          margin-left: 40px;
        }

        p {
          color: #9A1C1C;
        }
      }

    }

  }
}