@import "../../../../assets/scss/app.scss";

.warningModal {
  @include modal();

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 320px;
    height: 474px;
    box-sizing: border-box;
    padding: 24px 16px 0;

    @include desktop() {
      width: 500px;
      height: 472px;
      padding: 38px 38px 0;
    }

    .back {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 320px;
      height: 474px;

      @include desktop() {
        width: 500px;
        height: 472px;
      }

    }

    .closeButton {
      position: absolute;
      z-index: 2;
      top: 16px;
      right: 16px;

      @include desktop() {
        top: 38px;
        right: 38px;
      }
    }

    .title {
      position: relative;
      z-index: 2;
      @include modalTitle();
    }

    .items {
      position: relative;
      margin-top: 24px;

      @include desktop() {
        margin-top: 29px;
      }

      .itemBlock {
        position: relative;
        z-index: 2;
        display: flex;
        //align-items: center;

        &:not(:first-child) {
          margin-top: 16px;
        }

        .numberWrapper {
          position: relative;
          width: 43px;
          height: 43px;

          img {
            display: block;
            width: 43px;
            height: 43px;
          }

          span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            @include PressStart();
            font-size: 17px;
            line-height: 160%;
            color: #715021;
          }
        }

        p {
          flex-grow: 1;
          margin-left: 12px;
          font-size: 14px;
          line-height: 150%;
          color: #000000;
        }

      }
    }

    .acceptButton {
      margin-top: 24px;

      @include desktop() {
        margin-top: 28px;
      }

      p {
        @include buttonText();
      }

    }

  }
}