@import "../../../assets/scss/app.scss";

.homeCard {
  text-decoration: none;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 288px;
  height: 235px;

  @include desktop() {
    width: 260px;
    height: 285px;
  }

  &:not(:first-child) {
    margin-top: 24px;

    @include desktop() {
      margin-top: 0;
    }
  }

  .back {
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 288px;
    height: 235px;

    @include desktop() {
      width: 260px;
      height: 285px;
    }
  }

  .icon {
    position: absolute;
    top: 85px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    @include desktop(){
      top: 105px;
    }

  }

  &:nth-child(1) .icon {
    width: 194px;
    height: 135px;
  }

  &:nth-child(2) .icon {
    width: 165px;
    height: 142px;
  }

  &:nth-child(3) .icon {
    width: 180px;
    height: 156px;
  }

  &:nth-child(4) .icon {
    width: 245px;
    height: 217px;
  }

  .label {
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translate(-50%, 50%);
    z-index: 2;
    @include PressStart();
    font-size: 13px;
    line-height: 135%;
    letter-spacing: -0.04em;
    color: #F6B841;
    text-align: center;
    max-width: 200px;

    @include desktop() {
      font-size: 14px;
      bottom: 62px;
    }
  }
}